body {
  text-align: center; }
  body .body-first,
  body .body-2,
  body .body-4 {
    height: 61em; }
  body h4,
  body h5,
  body h2 {
    padding-top: 3rem;
    font-family: 'Grand Hotel', cursive;
    color: #e8565e; }
  body h2 {
    font-size: 6em; }
  body p {
    font-size: 1.5rem; }
  body .body-first {
    background: url("/restaurant/images/background_01.png"), no-repeat;
    padding-top: 10rem;
    background-size: 100% 100%;
    text-align: center; }
    body .body-first .primary-header {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      transition: all 0.5s ease-in-out; }
      body .body-first .primary-header a {
        font-size: 2em;
        padding: 1em; }
    body .body-first .logo {
      padding: 0em; }
    body .body-first .sticky {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #000000;
      opacity: 0.9;
      position: fixed;
      top: 0;
      left: 0;
      box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5); }
      body .body-first .sticky img {
        margin: 0.5em;
        display: block; }
    body .body-first a {
      font-size: 1.3em;
      padding: 0.8em 2em; }
    body .body-first h1 {
      color: #fff;
      margin-top: 6rem;
      font-size: 10em;
      font-family: 'Grand Hotel', cursive; }
    body .body-first .primary-navigation {
      backdrop-filter: blur(2); }
    body .body-first p {
      padding-bottom: 1.5em; }
  body .body-2 {
    background: url("/restaurant/images/background_02.png"), no-repeat;
    background-size: 100% 100%; }
    body .body-2 .slider,
    body .body-2 p {
      display: flex;
      justify-content: center;
      justify-items: center; }
    body .body-2 img {
      margin-top: 2rem;
      width: 70%; }
    body .body-2 span {
      margin: 1em;
      font-size: 1.5em; }
    body .body-2 h4 {
      padding-top: 1em;
      font-size: 3em; }
  body .body-3 {
    margin: 0;
    padding: 0;
    background: url("/restaurant/images/background_03.png"), no-repeat;
    background-size: 100% 100%;
    color: #fff;
    height: 62em; }
    body .body-3 h1 {
      padding-top: 1.5em;
      font-size: 5em;
      font-family: 'Grand Hotel', cursive; }
    body .body-3 .row {
      padding-top: 10em;
      display: flex;
      justify-content: center;
      justify-items: center; }
      body .body-3 .row .circle {
        height: 20em;
        width: 20em;
        border: 0.3em dashed #fff;
        border-radius: 50%; }
        body .body-3 .row .circle .content-cri {
          position: relative;
          top: 30%; }
          body .body-3 .row .circle .content-cri h3 {
            font-size: 4em; }
  body .body-4 {
    background-color: #eee6cc; }
    body .body-4 h2 {
      padding-top: 1em;
      font-size: 4em; }
    body .body-4 h4 {
      font-size: 2.5em; }
  body .body-5 {
    background-color: #fbf4e3;
    text-align: start;
    margin: 0;
    padding: 0; }
    body .body-5 h2 {
      padding-top: 5em;
      font-size: 4em; }
    body .body-5 a {
      font-size: 25px;
      font-weight: bold;
      padding: 0.1em 2em;
      background-color: #e8565e;
      color: #ffff; }
    body .body-5 a:hover {
      background-color: #f1000c; }
  body .body-6 {
    background-color: #f0e6cc;
    padding-bottom: 2em; }
    body .body-6 h2 {
      padding-top: 0.5em; }
    body .body-6 .card {
      margin-top: 2em;
      background-color: #fbf4e3;
      border-radius: 1em;
      height: 31em; }
    body .body-6 img {
      width: 30%;
      margin: 10% 35%; }
    body .body-6 a {
      padding: 0.4em 4.5em; }
  body .body-7 {
    height: 45em;
    background: url("/restaurant/images/background_05.png");
    background-repeat: repeat-x;
    background-position: bottom;
    background-size: 100% 50%; }
    body .body-7 p {
      padding-top: 1em;
      font-size: 2em; }
    body .body-7 h3 {
      font-size: 2.5em; }
    body .body-7 img {
      width: 10%;
      padding-top: 5em; }
  body .body-8 {
    background-color: #fbf4e3;
    padding: 2.5em 0em; }
    body .body-8 input {
      width: 50%;
      margin-left: 20%; }
      body .body-8 input:focus {
        box-shadow: none;
        outline: none; }
    body .body-8 button {
      position: relative;
      right: 3em; }
  body footer {
    background-color: #2a2a2a;
    color: aliceblue;
    text-align: start;
    font-size: 1.5em; }
    body footer span {
      color: #0000; }
    body footer h4 {
      font-size: 1.5em; }
    body footer h3 {
      font-family: 'Grand Hotel', cursive; }
    body footer a {
      text-decoration: none;
      color: #fff; }
    body footer li {
      display: block; }
    body footer i {
      font-size: 1em; }
  @media only screen and (max-width: 46.187em) {
    body .body-first {
      height: 18em;
      width: auto; }
      body .body-first img {
        width: 50%; }
      body .body-first h1 {
        margin: 0em;
        font-size: 5em; }
      body .body-first .btn {
        color: #fff;
        background-color: #b9131b;
        border: 0; }
      body .body-first .btn:hover {
        background-color: #e8565e; }
      body .body-first h2,
      body .body-first p {
        display: none; }
      body .body-first .primary-header {
        z-index: 10000; }
    body .body-2 {
      height: 23em; }
      body .body-2 h4 {
        margin: 0;
        padding: 0;
        position: relative;
        top: 5rem; }
      body .body-2 h2,
      body .body-2 p,
      body .body-2 span,
      body .body-2 img {
        display: none; }
    body .body-3 {
      height: 18em; }
      body .body-3 p,
      body .body-3 .circle {
        display: none; }
      body .body-3 h1 {
        font-size: 3em;
        padding: 30%; }
    body .body-4 h4 {
      padding-top: 0.2em;
      padding-bottom: 0.5em; }
    body .body-4 h2 {
      padding: 0.2em; }
    body .body-4 p {
      display: none; }
    body .body-5 {
      display: none; }
    body .body-6 img {
      padding-bottom: 1em; }
    body .body-6 h4 {
      padding-top: 0;
      font-size: 2.5em; }
    body .body-7 {
      height: 18em; }
      body .body-7 img {
        padding-top: 1em;
        width: 30%; }
      body .body-7 h2 {
        font-size: 3em; }
      body .body-7 p {
        display: none; }
    body .body-8 p {
      display: none; }
    body footer .ab-show {
      display: inline-block; }
    body footer h3,
    body footer ul,
    body footer li,
    body footer p {
      display: none; } }
  @media only screen and (min-width: 767px) and (max-width: 63.9375em) {
    body .body-first {
      height: 23em; }
      body .body-first h1,
      body .body-first p {
        display: none; }
      body .body-first .btn {
        position: relative;
        top: 2em; }
      body .body-first .primary-navigation {
        display: none; } }

/*# sourceMappingURL=style.css.map */
